/*body {
  padding: 0px;
  margin: 0px;
}*/

#map {
  height: 800px;
  width: 100%;
  
}

.button-box {
  min-height: 120px;
} 

h4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#jumbo-main {
  background-image: url("../images/colorful.jpg");
  background-size: cover;
}

h1 {
	font-weight: bolder;
	-webkit-text-stroke: 1px white;
}

h3 {
	font-weight: bold;
}

.panel-primary>.panel-heading {
    color: black;
    background-color: #eee;
    border-color: #eee;
}

.panel-primary {
    border-color: black;
}

.jumbotron {
    border: 1px solid;
    border-color: black;
}

/*body{
	background-color: lightgrey
}
*/
#bar {
	width: 100%;
}

/*.js-plotly-plot{
  border: 1px solid;
  border-color: black;
  width: 100%;
}*/

#splatter{
	width: 100%;
/*  border: 1px solid;
  border-color: black;*/

}

.hello{
	background-color: white;
	opacity: .7;
}

td {
	text-align: center;
}

#mapdescr{
	text-align: center;
	font-style: italic
}

#selDataset{
  width: 150px;
}